@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
 --navajo-white: #FFDDA1;
 --sunglow: #FFD151;
 --saffron: #F8C537;
 --xanthous: #EDB230;
 --pumpkin: #E77728;

 /* --navajo-white: #8ECAE6;
 --sunglow: #219EBC;
 --saffron: #023047;
 --xanthous: #FFB703;
 --pumpkin: #FB8500; */
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(245, 245, 245);
}
.main-container {
  margin: 0 0 150px 0 ;
}
.goal-category{
  background-color: var(--navajo-white);
  color: var(--pumpkin);
  margin: 0;
  padding-left: 5px; 
  border: 2px solid var(--navajo-white);
  /* box-shadow: 2px 2px 5px var(--saffron); */
}
.tommorow-goal-category{
  background-color: var(--saffron);
  color: var(--pumpkin);
  margin: 0;
  padding-left: 5px; 
  border: 2px solid var(--saffron);
}

.bgmain{
  background-color: var(--navajo-white);
}
.textpumpkin{
  color: var(--pumpkin);
}
.pumpkinborder{
  border: 1px solid var(--pumpkin);
}

.ss-btn {
  background-color: var(--navajo-white);
  border: 1px solid var(--sunglow);
  border-radius: 6px;
  padding: 5px;
  width: auto;
  color: var(--pumpkin);
}
.ss-btn:hover{
  background-color: var(--sunglow);
  color: var(--pumpkin);
  transition: 0.5s ease;
}
input{
  border: 1px solid var(--navajo-white);
  border-radius: 6px;
  padding: 5px;

}
.pad-container {
  background-color: rgba(255, 222, 173, 0.5);
  padding-top: 20px;
  margin: 50px 0 0 0;
  border-radius: 6px;
}