@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root { 
--green: #32989A;
--orange: #FF871F;
--purple: #8A37D2;


 --new-yellow: #FFC636;
 --new-blue: #33C9F7;
 --new-orange: #FFA533;
 --new-purple: #6C73E7;
 --new-bg: #F9F8FD;
 --new-container-bg: #D3D7F8;
 --new-main-blue: #1F5678;
 --new-green: #69BE82;



}

@layer utilities {
  .input-field {
    @apply my-1 mt-3 mr-10 h-[27px] w-[100%] border border-[#FFDDA1] focus:border-[#FB8500] outline-none;
  }
}

body {
  font-family: 'Nunito Sans';
  background-color: #F5FBFF;
  /* background-color: rgb(245, 245, 245); */
  /* color: #8ECAE6;  */
}
input{
  border: 1px solid var(--new-bg);
  border-radius: 0 0px 0px 0;
  padding: 5px; 
}
.main-container {
  margin: 0 0 150px 50px ;
  /* background-color: var(--new-bg); */
  background-color: var(--new-bg);
}
.goal-category{
  color: white;
  padding-left: 5px; 
}
.tommorow-goal-category{
  background-color: var(--saffron);
  color: var(--pumpkin);
  margin: 0;
  padding-left: 5px; 
  border: 2px solid var(--saffron);
}

.bgmain{
  background-color: var(--navajo-white);
}
.bgraspberry{
  background-color: var(--raspberry);
}
.textpumpkin{
  color: var(--pumpkin);
}
.textorange{
  color: var(--orange);
}
.textpurple{
  color: var(--new-purple);
}
.textgreen{
  color: var(--new-green);
}
.bgorange-calendar {
  background-color: #fbdfc6;
}
.bgorange {
  background-color: #FF871F;
}
.bgpurple {
  background-color: #f5eafe;  
}
.bggreen {
  background-color: #ddf1f1;
}
.bgyellow {
  background-color: var(--yellow);
}
.bggradyellow{
  background-image: linear-gradient(to bottom,  #f7ead0, var(--new-yellow));
}
.borderorange {
  border: 1px solid var(--orange);
}
.borderpurple {
  border: 0.5px solid var(--purple);
}
.bordergreen {
  border: 0.5px solid var(--green);
}
.pumpkinborder{
  border: 0.5px solid var(--pumpkin);
}

.ss-btn {
  background-color: var(--orange);
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.ss-btn:hover{
  background-color: var(--new-yellow);
  color: white;
  border: none;
  transition: 0.5s ease;
}

.pad-container {
  background-color: var(--green);
  color: white;
  padding-top: 20px;
  margin: 50px 0 0 0;
  border-radius: 6px;
}
.pillow  {
  font-size: 18px;
  display: block;
  margin: 25px;
  padding: 25px;
  text-align: center;
  background-color: var(--green);
  border-radius: 8px;
  width: 300px;
  border: 1px solid var(--xanthous);
}
.goal-done {
  color: var(--new-orange);  
}
.goal-active {

}
.cell {
  padding: 3%;
  background: white;
  border-radius: 10px;
  border: 1px solid rgb(230, 237, 245);
  box-shadow: 5px 5px 10px rgb(227, 227, 227);
}
.bluebg {
  background: var(--new-bg); 
}
.newmainblue{
  background-color: var(--new-main-blue);
}